.container {
    max-width: 1270px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.gallery {
    max-width: 1024px;
    height: 400px;
    margin: 0 auto;
    border: solid 2px blue;
}

.gallery-slider {
    max-width: 1024px;
    height: 300px;
    display: flex;
    justify-content: center;

}

.img_cat1 {
    height: 300px;
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.previous,
.next {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}

.previous:hover,
.next:hover {
    background-color: rgb(53, 53, 254);
}